/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");

/* CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #404258;
}

main {
  text-align: center;
}

h1 {
  font-size: 5vw;
  font-family: "Russo One", sans-serif;
  text-align: center;
  color: rgb(255, 251, 42);
  display: block;
}

#questionText {
  font-size: 5vw;
  padding: 1.5rem;
  margin: 0px 1rem 5rem 1rem;
  background-color: white;
  color: rgb(255, 39, 39);
  border-radius: 10px;
}

/* #subtitle {
  font-size: 4vw;
  margin: 0px 20vw;
  font-family: "Russo One", sans-serif;
  margin-top: 25px;
  text-align: center;
  color: rgb(255, 39, 39);
} */

#count {
  text-align: center;
  font-size: 5vw;
  font-family: "Russo One", sans-serif;
  color: rgb(255, 255, 255);
  margin-top: 2rem;
  margin-bottom: 0px;
}

.start {
  background-color: transparent;
  border: 1px solid red;
  color: white;
  margin-top: 25px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;
}

#start {
  font-family: "Press Start 2P", cursive;
  background-color: transparent;
  color: red;
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 3.5rem;
}
footer a {
  font-size: 1rem;
  color: white;
}

#questions {
  display: grid;
  grid-template-columns: (autofit, 1fr 1fr);
  grid-template-rows: 1fr 1fr;
  height: 25vh;
  gap: 2rem;
  margin: 4vh 3vh;
}

@media (min-width: 600px) {
  #questions {
    grid-template-columns: 1fr 1fr;
  }

  #gamePrincipal {
    margin-bottom: 2rem;
  }
}

.question {
  font-family: "Limelight", cursive;
  background-color: rgb(235, 203, 0);
  font-size: 2rem;
  border-radius: 20px;
  padding: 5px;
}

.correct {
  background-color: green;
}
.fail {
  background-color: red;
}

a {
  text-decoration: none;
  font-size: 32px;
  color: black;
}

.replay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(235, 203, 0);
  font-size: 2rem;
  width: 20vw;
  margin-left: 38vw;
  padding: 2px;
  border-radius: 20px;
}

.glow {
  font-size: 80px;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  color: rgb(243, 255, 15);
  text-align: center;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px rgba(255, 247, 0, 0.734),
      0 0 20px rgba(255, 247, 0, 0.734), 0 0 30px rgb(230, 245, 97),
      0 0 40px rgb(230, 245, 97), 0 0 50px rgb(230, 245, 97),
      0 0 60px rgb(230, 245, 97), 0 0 70px rgb(230, 245, 97);
    text-shadow: 0 0 20px rgba(255, 247, 0, 0.734), 0 0 30px rgb(230, 245, 97),
      0 0 40px rgb(230, 245, 97), 0 0 50px rgb(230, 245, 97),
      0 0 60px rgb(230, 245, 97), 0 0 70px rgb(230, 245, 97),
      0 0 80px rgb(230, 245, 97);
  }
}

.glow-stop {
  font-size: 80px;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  color: rgb(243, 255, 15);
  text-align: center;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out alternate 3;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px rgba(255, 247, 0, 0.734),
      0 0 20px rgba(255, 247, 0, 0.734), 0 0 30px rgb(230, 245, 97),
      0 0 40px rgb(230, 245, 97), 0 0 50px rgb(230, 245, 97),
      0 0 60px rgb(230, 245, 97), 0 0 70px rgb(230, 245, 97);
    text-shadow: 0 0 20px rgba(255, 247, 0, 0.734), 0 0 30px rgb(230, 245, 97),
      0 0 40px rgb(230, 245, 97), 0 0 50px rgb(230, 245, 97),
      0 0 60px rgb(230, 245, 97), 0 0 70px rgb(230, 245, 97),
      0 0 80px rgb(230, 245, 97);
  }
}

#principal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  height: 100vh;
}

#gamePrincipal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100vh;
}
