/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

/* CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #404258;
}

main {
  text-align: center;
}

h1 {
  font-size: 5vw;
  font-family: "Russo One", sans-serif;
  text-align: center;
  color: rgb(255, 251, 42);
  display: block;
}

#questionText {
  font-size: 3vw;
  margin: 0px 20vw;
  background-color: white;
  /* font-family: "Russo One", sans-serif; */
  margin-top: 25px;
  text-align: center;
  color: rgb(255, 39, 39);
  border-radius: 10px;
}

#subtitle {
  font-size: 2vw;
  margin: 0px 20vw;
  font-family: "Russo One", sans-serif;
  margin-top: 25px;
  text-align: center;
  color: rgb(255, 39, 39);
}

#count {
  font-size: 2vw;
  font-family: "Russo One", sans-serif;
  color: rgb(255, 255, 255);
  margin: 20px 0px 20px 20px;
}

#exit {
  font-size: 2vw;
  font-family: "Russo One", sans-serif;
  color: rgb(255, 255, 255);
  background-color: green;
  padding: 5px;
  border-radius: 25px;
  margin: 20px 0px 20px 20px;
}

.start {
  background-color: rgb(235, 203, 0);
  border: none;
  color: white;
  margin-top: 25px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;
}

footer p {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: right;
}

/* #questions {
  border: 1px solid white;
} */

.question {
  background-color: rgb(235, 203, 0);
  font-size: 2rem;
  width: 20vw;
  margin: 25px;
  padding: 2px;
  border-radius: 20px;
}

.correct {
  background-color: green;
}
.fail {
  background-color: red;
}

a {
  text-decoration: none;
  font-size: 32px;
  color: black;
}

.replay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(235, 203, 0);
  font-size: 2rem;
  width: 20vw;
  margin-left: 38vw;
  padding: 2px;
  border-radius: 20px;
}
